<div id="browser-not-support" class="browser-not-support">
  <!-- Modal content -->

  <div class="modal-content">
    <div class="row middle-xs">
      <div class="col-xs-12 col-lg-4 center-xs">
        <img class="modal-content-img" src="{{asset 'images/browser-warning.svg'}}" />
      </div>
      <div class="col-xs-12 col-lg-8">
        <div class="modal-content-title">{{t "Browser Not Supported"}}</div>
        <div class="modal-content-description">{{t "To get the best experience, we recommend you to use the latest version of one of the supported browsers:"}}</div>
        <ul>
          <li>Chrome</li>
	        <li>Safari</li>
	        <li>Firefox</li>
	        <li>Edge</li>
        </ul>
      </div>
    </div>
    <div class="row end-sm modal-footer">
      <button id="browser-not-support-button" class="col-xs-12 col-lg-3 btn btn--brand ">{{t "Got It"}}</button>
    </div>
  </div>
</div>