<div id="language-switch" class="language-switch">
  <button class="language-btn{{#if_equals @language 'zh-Hant'}} active{{/if_equals}}" data-lang="zh-Hant">繁</button>
  ｜
  <button class="language-btn{{#if_equals @language 'en'}} active{{/if_equals}}" data-lang="en">EN</button>
</div>
