{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="container-fluid wrapper">
  <div class="row ">
    <div class="col-xs-12">
      <div class="page__header">
        {{#locale_string title}}<h1 class="page__title">{{display}}</h1>{{/locale_string}}
      </div>
    </div>
  </div>
    {{#get "posts" include="tags" filter="tag:[hash-faq]" limit="all" order="id asc" as |faq_posts|}}
        <div class="row around-xs faq-posts">
          {{#foreach faq_posts as |faq_post|}}
            <div class="col-xs-12 col-xl-6 m-b-lg faq-post">
              {{#locale_string title}}<div class="faq-post__title">{{display}}</div>{{/locale_string}}
              <div class="faq-post__content">{{content}}</div>
            </div>
          {{/foreach}}
        </div>
      {{/get}}
</div>
{{/post}}
