{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="page__header">
        {{#locale_string title}}<h1 class="page__title">{{display}}</h1>{{/locale_string}}
      </div>
    </div>
    <div class="col-xs-12">
      <article class="{{post_class}} post-access-{{visibility}}">
        <div class="post__content">
          {{content}}
        </div>
      </article>
    </div>
  </div>
</div>
{{/post}}
